In [1]:
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup
import nltk
from nltk.tokenize import RegexpTokenizer
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import datasets
from nltk.corpus import stopwords

In [2]:
train = pd.read_csv("/Users/bethelikejiofor/Documents/GitHub/ENTITY-Final-Project/Data/train.csv")
train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [3]:
## Removing stopwords
def stopword(text):
    a = [i for i in text.split() if i not in stopwords.words('english')]
    return a

In [4]:
def removepunct(text):
    text = re.sub(r'[^\w\s]', '', text)
    return text

In [5]:
def combined(text):
    return stopword(removepunct(text))

In [6]:
train['clean'] = train.text.astype(str).str.lower()

In [8]:
train['clean'] = train['clean'].apply(lambda x: combined(x))

In [9]:
train.head()

,textID,text,selected_text,sentiment,clean
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,"[id, responded, going]"
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,"[sooo, sad, miss, san, diego]"
2,088c60f138,my boss is bullying me...,bullying me,negative,"[boss, bullying]"
3,9642c003ef,what interview! leave me alone,leave me alone,negative,"[interview, leave, alone]"
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,"[sons, couldnt, put, releases, already, bought]"

In [54]:
split_df = pd.DataFrame(train['clean'].tolist())

In [55]:
split_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,id,responded,going,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,sooo,sad,miss,san,diego,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,boss,bullying,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,interview,leave,alone,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,sons,couldnt,put,releases,already,bought,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [65]:
split_df.to_csv('/Users/bethelikejiofor/Documents/train_words.csv')

In [56]:
split_df = split_df.stack().reset_index()

In [58]:
#split_df = split_df.dropna()

In [59]:
split_df = split_df[[0]]
split_df = split_df.rename(columns={0: "word"})

In [62]:
split_df = split_df.dropna()

In [63]:
split_df['Number of Records'] = 1

In [64]:
split_df

             word  Number of Records
0              id                  1
1       responded                  1
2           going                  1
3            sooo                  1
4             sad                  1
...           ...                ...
202384      going                  1
202385        atg                  1
202386     smiles                  1
202387        yay                  1
202388       hugs                  1

[202389 rows x 2 columns]